---
const posts = await Astro.glob('./*.md');
---

<html lang="pt-br">
  <body style="padding: 2rem; max-width: 800px; margin: auto;">
    <h1>Blog da GC V3</h1>
    <ul>
      {posts.map(post => (
        <li>
          <a href={post.url}>{post.frontmatter.title}</a> — {new Date(post.frontmatter.pubDate).toLocaleDateString()}
        </li>
      ))}
    </ul>
  </body>
</html>
